@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'MuseoModerno', cursive;
font-family: 'Roboto', sans-serif; */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

body{
    background-color: black;
    height: 100%;
}


/* LOGO */
#Cyrene{
    font-family: 'MuseoModerno', cursive;
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
    margin-top: 4rem
}


/* GAMEFIELD */

.top-row, .middle-row, .bottom-row{
    display: flex;
    justify-content: center;
}

#red{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(rgb(252, 82, 82) 5%, red 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-right: 3rem;
}

#green{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(rgb(106, 255, 106) 5%, green 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-left: 3rem;
}

#yellow{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(rgb(255, 255, 152) 5%, yellow 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-right: 7rem;
}

#blue{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(rgb(53, 53, 255) 5%,blue 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-left: 7rem;
}

#purple{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(rgb(248, 83, 248) 5%,purple 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-right: 4rem;
}

#cyan{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(rgb(167, 255, 255) 5%,cyan 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-left: 4rem;
}



/* CONTROL PANEL */

.fa-power-off{
    font-weight: 400;
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-left: 50%;
}

.fa-undo{
    font-weight: 400;
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-left: 50%;
}

.fa-play{
    font-weight: 400;
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-left: 50%;
}

