@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'MuseoModerno', cursive;
font-family: 'Roboto', sans-serif; */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

a:hover{
    text-decoration: none;
}

body{
    background-image: radial-gradient(rgb(27, 27, 27) 5%, rgb(0, 0, 0) 95%);
}

#inscription{
    text-align: center;
    margin-top: 3rem;
    text-transform: uppercase;
    color: rgb(155, 155, 155);
}

#inscription span{
    font-style: italic;
    font-weight: 700;
}

/* GAMEFIELD */

.top-row, .middle-row, .bottom-row{
    display: flex;
    justify-content: center;
}

.level-board{
    position: absolute;
}

.current-level{
    margin-top: 3.3rem;
    display: none;
}

/* POWERED OFF */

.logo-off{
    font-family: 'MuseoModerno', cursive;
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
    margin-top: 4rem
}

.red-off{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(rgb(136, 31, 31) 5%, red 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-right: 3rem;
}

.green-off{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(rgb(34, 97, 34) 5%, green 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-left: 3rem;
}

.yellow-off{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(rgb(133, 133, 28) 5%, yellow 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-right: 7rem;
}

.blue-off{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(rgb(26, 26, 100) 5%,blue 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-left: 7rem;
}

.purple-off{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(rgb(107, 33, 107) 5%,purple 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-right: 4rem;
}

.cyan-off{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(rgb(32, 92, 92) 5%,cyan 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-left: 4rem;
}

/* POWERED ON */

.logo-on{
    font-family: 'MuseoModerno', cursive;
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
    margin-top: 4rem;
    text-shadow: 3px 3px #818181;
}

.powered-on-buttons{
    text-shadow: 2px 2px #818181;
}

.red-on{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(rgb(252, 82, 82) 5%, red 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-right: 3rem;
}

.green-on{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(rgb(106, 255, 106) 5%, green 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-left: 3rem;
}

.yellow-on{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(rgb(255, 255, 152) 5%, yellow 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-right: 7rem;
}

.blue-on{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(rgb(53, 53, 255) 5%,blue 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-left: 7rem;
}

.purple-on{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(rgb(248, 83, 248) 5%,purple 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-right: 4rem;
}

.cyan-on{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(rgb(167, 255, 255) 5%,cyan 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-left: 4rem;
}


/* ACTIVE BUTTONS */

.red-active{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(white 5%, rgb(252, 82, 82) 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-right: 3rem;
}

.green-active{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(white 5%, rgb(106, 255, 106) 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-left: 3rem;
}

.yellow-active{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(white 5%, rgb(253, 253, 113) 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-right: 7rem;
}

.blue-active{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(white 5%,rgb(53, 53, 255) 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-left: 7rem;
}

.purple-active{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(white 5%,rgb(248, 83, 248) 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-right: 4rem;
}

.cyan-active{
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(white 5%,rgb(107, 253, 253) 95%);
    border-radius: 33%;
    margin: 2rem auto;
    margin-left: 4rem;
}

/* CONTROL PANEL */

.fa-power-off{
    font-weight: 400;
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-left: 50%;
}

.fa-undo{
    font-weight: 400;
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-left: 50%;
}

.fa-play{
    font-weight: 400;
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-left: 50%;
}

